[buildout]
extends =
    buildout-plone.cfg
index = http://pypicache.gw20e.com/

versions = versions

#allow-hosts =
#    pypicache.gw20e.com
#    pypi.python.org
#    dist.plone.org

unzip = true
parts =
    omelette
    templer
    test

eggs =
    Paste
    PasteDeploy
    PasteScript

extensions += 
    mr.developer
sources = sources
auto-checkout +=
#    plone.app.toolbar
#    collective.overridemailrecipients
    redomino.advancedkeyword
    plone.app.contenttypes

[sources]
plone.app.toolbar = git git://github.com/plone/plone.app.toolbar.git
#collective.overridemailrecipients = git git://github.com/kcleong/collective.testusermailpatch.git
redomino.advancedkeyword = git https://github.com/redomino/redomino.advancedkeyword.git
plone.app.contenttypes = git https://github.com/plone/plone.app.contenttypes.git

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
debug-mode = on

verbose-security = on
zope-conf-additional = %import sauna.reload
environment-vars =
    zope_i18n_compile_mo_files true

# Project-specific eggs go here
eggs +=
#    collective.cover
#    plone.app.debugtoolbar
#    sauna.reload
#    Products.PrintingMailHost
    plone.app.contenttypes
#    redomino.advancedkeyword
#    redomino.advancedkeyword[dexterity]

# ZCML-registry for project-specific eggs, if necessary
zcml +=

[templer]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    ${instance:eggs}
    templer.plone
    templer.plone.localcommands

[versions]
plone.dexterity = 2.2.1
plone.app.dexterity = 2.0.11
plone.schemaeditor = 1.3.5
plone.app.event = 1.1b1
plone.app.portlets = 2.5.1

[test]
recipe = zc.recipe.testrunner
eggs = 
    redomino.advancedkeyword [test]
    redomino.advancedkeyword [dexterity]

